html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: "Vazirmatn", sans-serif;
}

* {
  font-family: "Vazirmatn", sans-serif;
}


#root {
  min-height: 100vh;
  /* استفاده از min-height به جای height ثابت برای ریسپانسیو */
  width: 100%;

  background-size: 400% 400%;
  animation: gradientFlow 18s ease infinite;

  /* فعال کردن flex */
  justify-content: center;
  align-items: center;

  /* برای موبایل */
  box-sizing: border-box;
}

@keyframes gradientFlow {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.main-container {
  width: 100%;
  height: 100%;
  /* display: flex; */
  justify-content: center;
  align-items: center;
  background: transparent;
}